{
  "jsc": {
    "baseUrl": "./src",
    "paths": {
      "@/*": ["./*"],
      "@providers/*": ["./providers/*"],
    },
    "target": "es2020",
    "parser": {
      "syntax": "typescript"
    }
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  }
}
